# Backend overrides
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Frontend overrides
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# General OS files
.DS_Store
*.pem
*.sqlite3
